body {
    margin: 0px;
}

#profile {
    width: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    text-align: center;
    overflow: hidden;
    color: floralwhite;
    bottom: 0px;
    margin-top: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 800px;
    background: linear-gradient(yellow 0%, red 100%);
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.line {
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 50px;
    background-color: blueviolet;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

#apps {
    background-color: royalblue;
    height: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#games {
    background-color: palegreen;
    height: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#chatbot {
    background-color: royalblue;
    height: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#game1,
#game2 {
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform .2s;
}

#game1:hover {
    transform: scale(0.9);
}

#game2:hover {
    transform: scale(0.9);
}

#contact {
    background-color: fuchsia;
    height: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.my_nav_bar{
    position: sticky;
    top: 0;
    font-family: 'Italianno', cursive;
    z-index: 99999;
    margin-top: 0;
}
